.map-viewer-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  cursor: grab;
}

.map-viewer-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transform-origin: center center;
}
